{% comment %}
This file is part of onepageblog.

onepageblog is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

onepageblog is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with onepageblog.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}
{% load absurl %}
{% load comments %}

<div class="list_item_inner">
  {% if post.summary %}
    <blockquote>{{ post.summary }}</blockquote>
  {% endif %}
  {{ post.content|safe }}
</div>

<p class="social_link">
  Share:
  [<a href="http://www.facebook.com/sharer/sharer.php?u={% absurl 'post_detail_view' slug=post.slug %}"> f</a>]
  [<a href="https://plus.google.com/share?url={% absurl 'post_detail_view' slug=post.slug %}">g+</a>]
  [<a href="http://twitter.com/intent/tweet?text={{ post.title }} - {{ blog_title }}: {% absurl 'post_detail_view' slug=post.slug %}">t </a>]
</p>

<p class="comments">
  {% get_comment_count for post as comment_count %}
  {% if comment_count %}
    <a href="{% absurl 'post_detail_view' slug=post.slug %}#comments">This post has {{ comment_count }}
    comment{{ comment_count|pluralize }}.</a>
  {% else %}
    <a href="{% absurl 'post_detail_view' slug=post.slug %}#comments">Be the first to comment on this post.</a>
  {% endif %}
</p>

<p class="post_link">
  [<a href="{% absurl 'post_detail_view' slug=post.slug %}">Permalink</a>]
</p>
