{% extends "base.html" %}
{% comment %}
This file is part of onepageblog.

onepageblog is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

onepageblog is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with onepageblog.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

{% block script %}
<script type="text/javascript"><!--

$(document).ready(function () {
    // Change anchors to AJAX
    $('div.list_item > h2 > a').each(onepageblog.load_post);

    {% comment %}
    // Remove pagination
    //$('nav.pagination').remove();

    // Add async content loader at bottom of page
    // TODO: ...
    {% endcomment %}
});

// -->
</script>
{% endblock %}
{% block content %}

<nav id="actions_nav">
  [<a href="{% url 'add_post_view' %}">Send Us A Post</a>]
</nav>

{% comment %}
<!-- TODO: ...
<nav id="top_pagination" class="pagination">
    <ul>
        <li>[ |&lt;&lt; ]</li>
        <li>[ &lt; ]</li>
        <li>[ 3 ]</li>
        <li>[ 4 ]</li>
        <li>[ 5 ]</li>
        <li>[ &gt; ]</li>
        <li>[ &gt;&gt;| ]</li>
    </ul>
</nav>
-->
{% endcomment %}

<div id="list_items">
    {% for post in post_list %}
    <div class="list_item">

        <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        <h3>{{ post.created_at|date:"l j M Y" }} | {{ post.created_by }}</h3>

        <div class="list_item_outer"></div>
    </div>

    {% endfor %}

    {% comment %}
    <!-- TODO: Fetch more asynchronously -->
    {% endcomment %}
</div>

{% comment %}
<!-- TODO: ...
<nav id="bottom_pagination" class="pagination">
    <ul>
        <li>[ |&lt;&lt; ]</li>
        <li>[ &lt; ]</li>
        <li>[ 3 ]</li>
        <li>[ 4 ]</li>
        <li>[ 5 ]</li>
        <li>[ &gt; ]</li>
        <li>[ &gt;&gt;| ]</li>
    </ul>
</nav>
-->
{% endcomment %}

{% endblock %}
