{% extends "base.html" %}
{% comment %}
This file is part of onepageblog.

onepageblog is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

onepageblog is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with onepageblog.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}
{% load absurl %}

{% block title %}{{ blog_title }} - {{ post.title }}{% endblock %}

{% block header %}
<h1><a href="{% url 'post_list_view' %}">{{ blog_title }}</a></h1>
<h2>{{ post.title }}</h2>
<h3>{{ post.published_at|date:"l j M Y" }} | {{ post.created_by }}</h3>
{% endblock %}

{% block content %}
<div class="list_item_inner">
  {% if post.summary %}
    <blockquote>{{ post.summary }}</blockquote>
  {% endif %}
  {{ post.content|safe }}
</div>

<p class="social_link">
    Share:
    [<a href="http://www.facebook.com/sharer/sharer.php?u={% absurl 'post_detail_view' slug=post.slug %}"> f</a>]
    [<a href="https://plus.google.com/share?url={% absurl 'post_detail_view' slug=post.slug %}">g+</a>]
    [<a href="http://twitter.com/intent/tweet?text={{ post.title }} - {{ blog_title }}: {% absurl 'post_detail_view' slug=post.slug %}">t </a>]
</p>

<p class="post_link">[<a href="{% url 'post_list_view' %}">List</a>]</p>
{% endblock %}
