{% comment %}
This file is part of onepageblog.

onepageblog is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

onepageblog is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with onepageblog.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}
{% load absurl %}

<div class="list_item_inner">
  {% if post.summary %}
    <blockquote>{{ post.summary }}</blockquote>
  {% endif %}
  {{ post.content|safe }}
</div>

<p class="post_link">
  [<a href="{% absurl 'post_detail_view' slug=post.slug %}">Permalink</a>] |
  {% include "posts/social_links.html" %}
</p>

<p class="comment_link">
  <a href="{% absurl 'post_detail_view' slug=post.slug %}#disqus_thread">Comments</a>
</p>
